{% extends 'base.html' %}


<script>
{% block jquery %}

var endpoint = '/api/data/'
var numbers_effected = []
var labels = []
var numbers_recovered = []
var deaths = []


$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = convertJSONresponse(data.Countries,"country_name")
        numbers_effected = convertJSONresponse(data.number_effected,"number_effected")
        numbers_recovered = convertJSONresponse(data.numbers_recovered,"numbers_recovered")
        deaths = convertJSONresponse(data.deaths,"deaths")
        setChart();
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var ctx3 = document.getElementById('myChart3').getContext('2d');


    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels.slice(1,7),
        datasets: [{
            label: 'effected',
            data: numbers_effected.slice(1,7),
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(5, 192, 92, 0.2)',
                'rgba(153, 102, 25, 0.2)',
                'rgba(255, 19, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 16, 35, 1)',
                'rgba(255, 206, 6, 1)',
                'rgba(5, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 19, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
                    display: true,
                    position: 'left',
                    fontSize: 14,
                    text: 'Numbers Effected'
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    var myChart2 = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: labels.slice(1,7),
        datasets: [{
            label: 'recovered',
            data: numbers_recovered.slice(1,7),
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(5, 192, 92, 0.2)',
                'rgba(153, 102, 25, 0.2)',
                'rgba(255, 19, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
                    display: true,
                    position: 'left',
                    fontSize: 14,
                    text: 'Numbers Recovered'
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: labels.slice(1,7),
        datasets: [{
            label: 'deaths',
            data: deaths.slice(1,7),
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(5, 192, 92, 0.2)',
                'rgba(153, 102, 25, 0.2)',
                'rgba(255, 19, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
                    display: true,
                    position: 'left',
                    fontSize: 14,
                    text: 'deaths'
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

}

function convertJSONresponse(data,fieldName){
    req_data = []
    for(let i = 0; i<data.length ;i++){
        req_data.push(data[i][fieldName]);
    }
    return req_data
}


{% endblock %}
</script>

<script>
{% block scripts %}

var lat_long = []
var myvar='';


    function convertJSONresponse(data,fieldName){
        req_data = []
        for(let i = 0; i<data.length ;i++){
            req_data.push(data[i][fieldName]);
        }

        return req_data
    }

    function processLatLong(latLongData){
        
        let splitted = [];
        let marker = [];

        for(let i = 0; i<latLongData.length ; i++){

            splitted = latLongData[i].split(",");
            console.log(splitted)

            c = {
                lat: parseFloat(splitted[0]),
                lng: parseFloat(splitted[1])
            }

            marker_obj = {
                coords:c
            }

            marker.push(marker_obj);
        }

        return marker;
    }


    function getData(){
         var endpoint = '/api/data/'
    
            return $.ajax({
                method: "GET",
                url: endpoint,
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            })
    }

    function handleData(data){
        lat_long = data;
    }

    getData().done(handleData);
    

function initMap(){
            

            var coordinates = processLatLong(convertJSONresponse(lat_long.lat_long,"lat_long"));
            var num_effected = convertJSONresponse(lat_long.number_effected,"number_effected");
            //console.log(num_effected);

            info = {};

            for(let i = 0; i<coordinates.length;i++){
                coordinates[i]["effected"]=num_effected[i];
            }

            console.log(coordinates);   
            

            var options = {
                zoom:3,
                center:{lat:41.8719,lng:12.5674}
            }

            var map = new google.maps.Map(document.getElementById('map'),options)

            /*for(var i = 0; i<coordinates.length ;i++){
                    addMarker(coordinates[i]);
            }*/         

             //For adding circles on the Map
             for (var city in coordinates) {
                // Add the circle for this city to the map.
                var cityCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 4,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: coordinates[city].coords,
                    radius: Math.sqrt(coordinates[city].effected) * 3000
                });
                }

            
            //Add marker function
            function addMarker(proops){
                var marker = new google.maps.Marker({
                position:proops.coords,
                map:map,
                //icon:proops.iconImage

            })
            

        }


    }



{% endblock %}
</script>


{% block content %}

<div id="map" style = " height: 450px;width: 1200px; margin: auto;position:absolute; top:450px; left:400px; padding-top:30px"></div>

<div class='row' style = "position:absolute; left:150px; padding-top:100px">
        <div class="col-sm-4 border bg-dark">
        <div style="width:550px;height:600px ;padding-right: 50px;">
            <canvas id="myChart"></canvas>
        </div>
        </div>
        <div class='col-sm-4 border bg-light'>
           <div style="width:550px;height:600px;padding-right: 50px;">
            <canvas id="myChart2"></canvas>

        </div>
        </div>
        <div class='col-sm-4 border bg-light'>
            <div style="width:550px;height:600px;padding-right: 50px;">
            <canvas id="myChart3"></canvas>
        </div>
        </div>
        
</div>

{% endblock content %}




